<mat-card class="card">
  <div class="content">
    <mat-toolbar color="primary">Editar Autor</mat-toolbar>

    <mat-card class="card fields">
        <mat-form-field appearance="fill">
          <mat-label>Nome</mat-label>
          <input matInput type="text" maxlength="40" required [(ngModel)]="autor.nome" #nome="ngModel">
          <mat-error *ngIf="nome.errors?.['required']">
            O campo nome é <strong>obrigatório</strong>!
          </mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" *ngIf="!nome.errors?.['required']" (click)="updateAutor()">Salvar</button>
    </mat-card>
  </div>
</mat-card>

