<mat-card class="card">
  <div class="content">
    <mat-toolbar color="primary">Editar Livro</mat-toolbar>

    <mat-card class="card">
      <div class="fields">
        <mat-form-field appearance="fill">
          <mat-label>Título</mat-label>
          <input matInput type="text" maxlength="40" required [(ngModel)]="livro.titulo" #titulo="ngModel">
          <mat-error *ngIf="titulo.errors?.['required']">
            O campo título é <strong>obrigatório</strong>!
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Editora</mat-label>
          <input matInput type="text" maxlength="40" required [(ngModel)]="livro.editora" #editora="ngModel">
          <mat-error *ngIf="editora.errors?.['required']">
            O campo editora é <strong>obrigatório</strong>!
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Edição</mat-label>
          <input matInput type="number" required [(ngModel)]="livro.edicao" #edicao="ngModel">
          <mat-error *ngIf="edicao.errors?.['required']">
            O campo edição é <strong>obrigatório</strong>!
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Ano de Publicação</mat-label>
          <input matInput type="text" maxlength="4" required [(ngModel)]="livro.anoPublicacao" #anoPublicacao="ngModel">
          <mat-error *ngIf="anoPublicacao.errors?.['required']">
            O campo ano de publicação é <strong>obrigatório</strong>!
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Autor</mat-label>
          <mat-select [formControl]="autoresFormControl" multiple [(ngModel)]="livro.autores">
            <mat-option *ngFor="let autor of autores" [value]="autor.codAu">{{autor.nome}}</mat-option>
          </mat-select>
          <mat-error *ngIf="autoresFormControl.hasError('required')">
            O campo autores é <strong>obrigatório</strong>!
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Assuntos</mat-label>
          <mat-select [formControl]="assuntosFormControl" multiple [(ngModel)]="livro.assuntos">
            <mat-option *ngFor="let assunto of assuntos" [value]="assunto.codAs">{{assunto.descricao}}</mat-option>
          </mat-select>
          <mat-error *ngIf="assuntosFormControl.hasError('required')">
            O campo assuntos é <strong>obrigatório</strong>!
          </mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" *ngIf="!titulo.errors?.['required'] && !editora.errors?.['required'] && !edicao.errors?.['required'] && !anoPublicacao.errors?.['required'] && !autoresFormControl.hasError('required') && !assuntosFormControl.hasError('required')" (click)="updateLivro()">Salvar</button>
      </div>
    </mat-card>
  </div>
</mat-card>

